<!DOCTYPE html>
<html>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="public/js/donkey_demo.js">
</script>

<form action="javascript:void(0)" method=POST enctype="multipart/form-data">
	<table>
		<tr>
			<td>Search URL:</td>
			<td><input name="query_url" id="url"></input></td>
			<td><button type="button" onclick="search()">Submit</button></td>
			<td>&nbsp;&nbsp;or upload File:</td>
			<td><input type="file" name="file0" id="path"/></td>
			<td><button type="button" onclick="searchFile()">_Submit</button></td>
		</tr>
	</table>
</form>
<div id="imgs">
</div>
</body>
</html>
