<div class="article">
<div class="title"><span onclick=''><%= title%></span></div>
<div class="date"><%= date%></div>
<div class="content collapse">
    <div class="html">
        <%= content%>
    </div>
    <div class="mask">
    </div>
</div>
</div>
