<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle%></title>
    <link rel="stylesheet" href="/stylesheets/diary/basic.css">
    <link rel="stylesheet" href="/stylesheets/diary/view.css">
    <link rel="icon" href="/images/diary/icon.png">
</head>
<body>
<nav>
    <a href="/diary/write">Write</a>
    <a href="/diary/view" class='active'>View</a>
    <a href="javascript:void(0)" class="logout">Logout</a>
</nav>
<div class="main_content">
    <%- elements%>
</div>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/sy.js"></script>
</body>
</html>
