<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle%></title>
    <link rel="stylesheet" href="/stylesheets/diary/basic.css">
    <link rel="stylesheet" href="/stylesheets/diary/write.css">
    <link rel="icon" href="/images/diary/icon.png">
</head>
<body>
<nav>
    <a href="/diary/write" class="active">Write</a>
    <a href="/diary/view">View</a>
    <a href="javascript:void(0)" class="logout">Logout</a>
</nav>
<div class="main_content">
    <form action="/diary/write" method='post'>
        <div class="title_line">
            <input type="text" name="diary_title" id="input_title" autocomplete="off" value="<%- docTitle %>">
            <input type="submit" value="Submit" class="diary">
        </div>
        <textarea cols="90" rows="18" name="diary_content" id="input_content"><%- docContent%></textarea>
    </form>
    <div>Date: <%= date%></div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/javascripts/sy.js"></script>
</body>
</html>
