* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
    margin: 0;
    background:#EEEECC;
}
nav {
    background: #A5A847;
    padding-left:15%;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:99;
}
nav>a {
    font: 1.3em Tahoma, Geneva, sans-serif;
    display: inline-block;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    text-decoration:none;
    //color: #B0B0B0;
    color: #4D442A;
}
nav>a:hover{
    color: #332F21;
}
nav>a.active{
    color: #332F21;
    font-weight:bold;
    background:#949641;
}
nav>a.logout {
    float:right;
}
div.main_content {
    margin-top: 75px;
    margin-left:15%;
    width:50%;
    font: 1.3em Tahoma, Geneva, sans-serif;
}
