#input_title {
    background:#EEEECC;
    outline:none;
    display:inline-block;
    width:80%;
    padding: 8px;
    resize:none;
    border-width:0px;
    border-bottom-width:2px;
    border-bottom-style:inset;
    border-color:#DDDDDD;
    font-size: 1.8em;
}
#input_content {
    background:#EEEECC;
    outline:none;
    display:block;
    width:100%;
    padding: 8px;
    resize:none;
    border-width:0px;
    border-bottom-width:2px;
    border-bottom-style:inset;
    border-color:#DDDDDD;
    font-size:1.2em;
}
input[type="submit"].diary {
    background:#CAE364;
    border-color:#CAE364;
    border-radius:12px;
    display:inline-block;
    height:50px;
    width:110px;
    float:right;
    margin-top:9px;
    outline:none;
    padding: 3px;
    font-size: 1.2em;
}

input[type="submit"].diary:hover {
    background:#ACC253;
    border-color:#ACC253;
}
