<!DOCTYPE html>
<html>
<body>

<form action="qbic.php" method=POST enctype="multipart/form-data">
    <table><tr>
     <td>Search URL:</td>
     <td><input name="query_url"></input></td>
     <td>&nbsp;&nbsp;or upload File:</td>
     <td><input type="file" name="query_file" /></td>
     <td><input type="submit" value="Submit"></td>
    </table></tr>
</form>
<br/>
Query by file:<h2>Uploaded File Info:</h2><ul><li>Sent file:</li><li>Sent file:</li><li>Sent file:</li></ul></body>
</html>
