<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle></title>
    <link rel="stylesheet" href="public/stylesheets/style.css">
</head>
<body>
   <%- body%> 
</body>
</html>
