<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle%></title>
    <link rel="stylesheet" href="/stylesheets/diary/basic.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="icon" href="/images/diary/icon.png">
</head>
<body>
<div id="main_content">
    <form action="/login" method='post' class="login">
            <input type="text" name="name" autocomplete="off" value="<%- name %>">
            <input type="password" name="passwd" autocomplete="off">
            <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>
